<div class="animated fadeIn dark-theme">
  <mat-card class="login-card container-form">
      <div class="txt">
      <h1 color="primary" class="title">sing in</h1>
      </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="animated slideInLeft">
        <img src="assets/health-clinic.png" alt="Login">
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="input-l">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="username!.invalid && username!.touched">Please enter a valid username</mat-error>
        </mat-form-field>
        <mat-form-field class="input-l">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="password!.invalid && password!.touched">Please enter a valid password</mat-error>
        </mat-form-field>
        <button class="input-l" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
