<router-outlet><div class="window">
  <div class="slika">
    <div class="background-image"></div>
  </div>
  <div class="forms">
    <div>
      <mat-tab-group>
        <mat-tab label="Order blood">
          <mat-stepper class="demo-stepper" #stepper>
            <mat-step >
              dsbgdfsgdfsgds
            </mat-step>
            <mat-step>

              gfdsgdfsgfds
            </mat-step>
            <mat-step>
              sdafdsafsafdas
            </mat-step>
          </mat-stepper>
        </mat-tab>
        <mat-tab label="See offers">
          <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>

        </mat-tab>
        <mat-tab label="Info"> Info </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
</router-outlet>
