.background-image{
  background-image: url("../assets/image.jpg");
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5%;
}
.window{
  display: flex;
  justify-content: space-around;

}
.forms{
  text-align: center;
  width: 100%;
  max-width: 100%;
  border-color: #505057;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

.quantity{
  display: block;
  margin-left: 10px;
}
.taber{
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabs{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.button{
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
}
.warning{
  color: #c42424;

}

.tab{
  margin-top: 5%;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.slika{
  text-align: center;
  width: 100%;
  align-items: center;
}
